/* Davy CHEN - 2021 */

/* cookie_davy */
.block_cookie_davy {
    display: block;
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
}
.bouton_cookie_davy {
    width: auto;
    padding: 0px 32px;
}
@media only screen and (max-width: 700px) {
    .block_cookie_davy {
        bottom: 60px;
    }
}