/* Davy CHEN - 2021 */

/* intro - anime_scroll_relative_content_davy */
/* ------------------------------- 1 0 ------------------------------- */
.block_anime_scroll_relative_content_1_davy {
    overflow: hidden;
    position: relative;
    background-image: url(../../images/fond-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
/* ------------------------------- 1 ------------------------------- */
.anime_scroll_relative_content_1_1_davy {
    position: absolute;
    transform: translate(-50%, 100px);
    text-align: right;
    top: 0%;
    left: 50%;
}
.anime_scroll_relative_content_1_2_davy {
    position: absolute;
    top: 0%;
    right: 0%;
    min-width: 100vw;
    max-height: 40vh;
}
@media only screen and (max-width: 700px) {
    .anime_scroll_relative_content_1_2_davy {
        max-height: 30vh;
    }
}
/* ------------------------------- 1 2 ------------------------------- */
.anime_scroll_relative_content_1_2_davy {
    animation: anime_scroll_relative_content_1_2 1s linear infinite;
}
@keyframes anime_scroll_relative_content_1_2 {
    0% {transform: translate(0%, 0%);}
    100% {transform: translate(0%, -30%);}
}
/* ------------------------------- 1 0 ------------------------------- */
.anime_scroll_relative_content_1_davy {
    animation-play-state: paused;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: calc(var(--scroll_relative_content_1) * -1s);
}