/* Davy CHEN - 2021 */

/* Cadre_davy */
.cadre_davy {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
}
.image_cadre_davy {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}
.image_cadre_1_davy, .image_cadre_2_davy {
    position: absolute;
    min-height: 100%;
    min-width: 102%;
    max-height: 150%;
    max-width: 150%;
}
.image_cadre_1_davy {
    transform: translate(0.5%, 0.5%);
    right: 0%;
    bottom: 0%;
}
.image_cadre_2_davy {
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 0%;
}
.texte_cadre_davy {
    position: relative;
    margin: 8px 32px 32px 32px;
}
.icon_cadre_davy {
    background: #E00817;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 32px;
}
.prix_cadre_davy {
    font-size: 24px;
}
.image_cadre_icon_davy {
    position: absolute;
    transform: translate(5px, 5px);
    width: 30px;
    height: 30px;
}
.image_cadre_note_davy {
    width: 15px;
    height: 15px;
}